a {
  background-color: purple;
  padding: 6px;
}
a:link {
  color: white;
}
a:visited {
  background-color: lightblue;
}
a:active {
  border: 1px solid black;
}
a:hover {
  background-color: none;
}

p:hover {
  background-color: pink;
}
a:focus, input:focus {
  
  outline: 1px solid black;
}
